<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>pruebaGit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9467F9D51C64F8060000C1D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9467F9E91C64F8070000C1D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9467F9F41C64F8070000C1D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
